# Generated folders, not necessary to keep in version control
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio Project files
ProjectName.opensdf
ProjectName.sdf
ProjectName.sln
ProjectName.v12.suo
